body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
body{
    background-image: url('back1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    color: transparent; 
}
.header {
    text-align: center;
    background-color:transparent;
    color:aliceblue;
    padding: 20px;
}
.navbar {
    background-color:transparent;
    text-align: center;
}
.navbar a {
    color:aliceblue;
    text-decoration: none;
    padding: 15px;
    display: inline-block;
    font-style: italic;
}
.content {
    text-align: center;
    margin-top: 0px;
    -webkit-text-fill-color: black;
}
.login-info {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color:transparent;
    padding: 50px;
    color: black;
    min-height: 50vh;
}
.login-form{
    position: relative;
    background-color: whitesmoke;
    border-radius: 20px;
    width: 400px;

}
.header h1{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    
}

