body{
    background-image: url(back.jpg);
}
.header{
    text-align: center;
    background-color:transparent;
    color:#fff;
    padding: 20px;
}
.login-info {
    text-align: center;
    background-color:transparent;
    padding: 2px;
    color: black;
    background-color: whitesmoke;
border-radius: 20px;
left: 550px;
width: 400px;
height: 350px;
position: relative;
}



